*{
    padding:0px;
    margin:0px;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background:radial-gradient(#56363c,#aa7681)
}
nav {
    background-color: #56363c;
    /*opacity: 0.5;*/
    overflow: hidden;
    width: 100%;
    text-align: center;
    position:fixed;
    padding: 10px;
    top: 0;
    z-index: 1000; 
}

nav a {

    display: inline-block;
    color: #f0c4cd;
    text-align: center;
    justify-content: center;
    padding: 20px 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: #cabdbd;
    color: black;
    transition: 0.5s ease-in-out;
}

nav img {
    float: left;
    margin: 5px 5px; 
    height: 40px; 
    opacity: 1;
}
.naslov{
    color: #7b7979;
    display: flex;
    margin-bottom: 10px;
}
.slika{
    width: 300px;
    height: 300px;
    border-radius:50%;
    position: relative;
    margin-top: 120px;
    margin-bottom: 20px;
    transition: transform 0.3s ease-out;
}
/*.slika2{
    display: none;
}
.slika2:hover{
    display: unset;
}*/
.slika:hover {
    transform: scale(1.2); 
}

h2{
    color:#7b7979;
    margin-top: 30px;
    margin-bottom: 20px;
}
span{
    color:#7b7979;
}


.interesovanja{
    position: relative;
    text-align: center;
}
.postignuca{
    position: relative;
    text-align: center;
}
.inspiracije{
    position: relative;
    text-align: center;
}

ul{
    position: relative;
    display: flex;
    transform: rotate(-5deg) skew(5deg);
    transform-style: preserve-3d;
    margin-top: 60px; 
    margin-bottom: 60px;
}
ul li{
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    margin: 0px 20px;
}
ul li:before{
    content: '';
    position: absolute;
    bottom: -10px;
    left: -5px;
    width:100%;
    height: 10px;
    background:#4a4a4a ;
    transform-origin: top;
    transform: skewX(-41deg);
}
ul li:after{
    content: '';
    position: absolute;
    bottom: -10px;
    top: 5px;
    left: -9px;
    width:9px;
    height:100%;
    background:#4a4a4a ;
    transform-origin: right;
    transform: skewY(-49deg);
}
ul li span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex !important;
    background:#4a4a4a;
    justify-content: center;
    align-items: center;
    color:#fff;
    font-size: 30px !important;
    transition:1.5s ease-out;
}
ul li:hover span{
    z-index: 1000;
    transition: 0.3s;
    color:#fff;
    box-shadow: -1px 1px 1px rgba(0,0,0,);
}
ul li:hover span:nth-child(4){
    transform: translate(30px, -30px);
    opacity:0.8;
} 
ul li:hover span:nth-child(3){
    transform: translate(20px, -20px);
    opacity:0.6;
} 
ul li:hover span:nth-child(2){
    transform: translate(10px, -10px);
    opacity:0.4;
} 
ul li:hover span:nth-child(1){
    transform: translate(0px, 0px);
    opacity:0.2;
} 
ul li:nth-child(1):hover span{
    background: #e1276b !important;
}
ul li:nth-child(2):hover span{
    background: #f52e2e !important;
}
ul li:nth-child(3):hover span{
    background: #0078c3 !important;
}