*{
    padding:0px;
    margin:20px;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background:radial-gradient(#56363c,#aa7681);
    font-family: sans-serif;
}
h1{
    color: #f0c4cd;
}
span{
    color: #ab8990;
    font-size: larger;
}
.smajli{
    color:#331f23;
}
  